#Contacto{
    background-color: var( --color-azuloscuro-contact-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Contacto .thank{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}
#Contacto .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:50px;
}
#Contacto .des{
    width: 500px;
    max-width: 80%;
    text-align: center;
    line-height: 1.8;
}
#Contacto .list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#Contacto .list .item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;
}
#Contacto .list .item a{
    text-decoration: none;
    color: var(--color-blanco);
    position: relative;
}
#Contacto .des a{
    position: relative;
    margin: 10px;
}
#Contacto .des a::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    transition: none;
    left: 0;
    top: 0;
    transform: translate(-17%,-10%);
    background-color: transparent;
    padding: .3em 2.5em;
    border-radius: 3em;
    border: .1em solid transparent;
}
#Contacto.active .des a::after{
    transition: all ease-in-out .2s;
}
#Contacto .des a:hover::after{
    border-color: var(--color-azul-claro);
    
}
#Contacto .list .item svg{
    margin-right: 5px;
}
/* Animaciones */
    #Contacto.active .thank{
        animation: slideLeft 1s ease-out;
    }
    #Contacto.active .des{
        animation: slideLeft 1.1s ease-out;
    }
    #Contacto.active .list{
        animation: slideLeft 1.2s ease-out;
    }
/* Media Querys */
@media screen and (max-width:991px) {
    #Contacto .des a::after{
        border-color: var(--color-azul-claro);
    }
}
@media screen and (max-width:700px) {
    #Contacto .list{
        flex-direction: column;
    }
}