#Habilidades{
    background-image: linear-gradient(
        45deg, var(--color-violeta-oscuro-bg), var(--color-negroanaranjado-bg) , var(--color-marron-oscuro-bg )
    );
    background-size: cover;
    overflow: auto;
}
#Habilidades .list{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    padding: 50px;
    gap: 0;
}
#Habilidades .container{
    overflow: auto;
}
/* Animaciones */
@media screen and (min-width:500px) {
    #Habilidades.active .list{
        animation: slideBottom 1s ease-out;
    }
}
/* Media querys */
@media screen and (max-width: 767px) {
    #Habilidades .list {
        grid-template-columns: repeat(2 , 1fr); 
        padding: 0 ;
    }
    #Habilidades .list .item{
        background-color: transparent ;
    }
    #Habilidades .list .item:nth-child(4n),
    #Habilidades .list .item:nth-child(4n+1) {
        background-color: var(--color-marron-oscuro-item-bg);
    }
  
}
@media screen and (min-width: 767px) {
    #Habilidades .list .item:nth-child(odd){
    background-color: var(--color-marron-oscuro-item-bg);
}
}