header{
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all ease-in-out;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    height: 3em;
    border-radius: 25px;
}
@media screen and (max-width: 576px) {
    header nav  {
        width: 100%;
    }
}