#Educacion .list .item{
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
}
#Educacion .list .item .contenedorSvg{
    background-color: var(--color-azulgris-bg-exp);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#Educacion .list .item svg{
    width: 50px;
    font-size: 2em;
    color: var(--color-azulgris-item-exp);
    display: flex;
    align-items: center;
    justify-content: center;
}
#Educacion .list .item .time{
    font-size: large;
    display: flex;
    align-items: flex-end;
}
#Educacion .list .item .content .job{
    font-size: large;
}
#Educacion .list .item .content .company{
    color: var(--color-rosa-oscuro);
}
#Educacion .list .item .content .des{
    font-size: .6em;
    opacity: .7;
}
#Educacion .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#Educacion .list .item:nth-child(odd) .time{
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}
/* Animaciones */

    #Educacion.active .list .item:nth-child(odd) .content{ 
        animation: slideTop 1s ease-out;
    }
    #Educacion.active .list .item:nth-child(odd) .time{ 
        animation: slideBottom 1.3s ease-out;
    }
    #Educacion.active .list .item:nth-child(even) .content{ 
        animation: slideBottom 1s ease-out;
    }
    #Educacion.active .list .item:nth-child(even) .time{ 
        animation: slideTop 1.3s ease-out;
    }


