#EXP .list .item{
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
}
#EXP .list .item i{
    background-color: #444b57;
    width: 50px;
    font-size: 2em;
    color: #16222D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#EXP .list .item .time{
    font-size: large;
    display: flex;
    align-items: end;
}
#EXP .list .item .content .job{
    font-size: large;
}
#EXP .list .item .content .company{
    color: var(--color-rosa-oscuro);
}
#EXP .list .item .content .des{
    font-size: .6em;
    opacity: .7;
}
#EXP .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#EXP .list .item:nth-child(odd) .time{
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}

