#Inicio{
    background-color: var(--color-violeta-oscuro );
    z-index: 2;
}
#Inicio .avatar{
    text-align: right;
    height: 100%;
}
#Inicio .avatar img{
    height: 100vh;
    filter: saturate(1.5);
    width: auto;
}
#Inicio .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 500px;
    max-width: 80%;
}
#Inicio .content .name,
#Inicio .content .job{
    font-size: 5em;
    font-family: Righteous;
    line-height: 1em;
}
.text-gradient{
    background-image: linear-gradient(
        to right , #E4454A, #CA3EA7
    ) ;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#Inicio .content .des{
 margin-top: 1.2em;
 width: 70%;
}
#Inicio .content a{
    margin: 1.2em 0 0 5em ;
    position: relative;
}
#Inicio .content a::after{
 position: absolute;
 content: "";
 height: 100%;
 width: 100%;
 transition: all ease-in-out .2s;
 left: -100%;
 top: -.3em;
 transform: translateX(50%);
 background-color: transparent;
 padding: .3em 2.5em;
 border-radius: 3em;
 border: .1em solid transparent;
}
#Inicio .content a:hover::after{
    border-color: var(--color-azul-claro);
    
}
#Inicio .content i{
    font-size: 9em;
    color: var(--color-azul-claro);
    position: absolute;
    top: -.3em;
    right: .4em;
    transform: translate(100%,-5%);
}
@media screen and (max-width: 767px) {
    #Inicio .avatar img{
        transform: none;
    }
    #Inicio .content{
        left: 20px ;
    }
    #Inicio .content .name{
        font-size: 5em ;
    }
    #Inicio .content .job{
        font-size: 3em ;
    }
    #Inicio .content i{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    #Inicio .avatar img {
        filter: blur(10px) ;
    }
}

@media screen and (max-width: 991px) {
    #Inicio .avatar img{
        transform: translateX(50px); 
    }
}
