#Proyectos{
    background-color: #cfbaba;
    color: #444B57;
    overflow: auto;
}
#Proyectos .list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 50px;
}
#Proyectos .container{
    overflow: auto;
}
::-webkit-scrollbar{
    width: 0;
}
@media screen and (max-width: 767px) {
    #Proyectos .list{
        grid-template-columns: repeat(2 , 1fr) ; 
    }
}
@media screen and (max-width: 576px) {
    #Proyectos .list{
        grid-template-columns: repeat(1, 1fr) ; 
    }
}